/*
 *  Overwrites for theme
 */

html {
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar One', cursive;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
  font-family: 'Sigmar One', cursive;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

/* Red */
.theme-base-JJ .sidebar,
.theme-base-JJ .sidebar-toggle:active,
.theme-base-JJ #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #333333;
}
.theme-base-JJ .container a,
.theme-base-JJ .sidebar-toggle,
.theme-base-JJ .related-posts li a:hover {
  color: #333333;
}

.message {
  background-color: unset;
  border: 1px solid #333333;
  color: #333333;
  background-color: #ffffe6;
}
