/*
 *  Overwrites for theme
 */

 html {
  font-family: Verdana, Geneva, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sigmar One', cursive;
  font-weight: 400;
  color: #313131;
  letter-spacing: -.025rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

p a {
  word-break: break-word;
}

/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
  font-family: 'Sigmar One', cursive;
  font-size: .875rem; /* 15px */
  color: rgba(255,255,255,.6);
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
  }
}

/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

/* Red */
.theme-base-JJ .sidebar,
.theme-base-JJ .sidebar-toggle:active,
.theme-base-JJ #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #49274A;
}
.theme-base-JJ .container a,
.theme-base-JJ .sidebar-toggle,
.theme-base-JJ .related-posts li a:hover {
  color: #49274A;
}

.message {
  background-color: unset;
  border: 1px solid #49274A;
  color: #49274A;
  background-color: #f2f2f2;
}

.img-border {
  border: 1px solid #000000;
  border-radius: 7px;
}

.post-date {
  background-color: unset;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-left: 20px solid #669966;
  color: #49274A;
}

/* Gerald Lee Jordan Theme */
.theme-base-GJ .sidebar,
.theme-base-GJ .sidebar-toggle:active,
.theme-base-GJ #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #49274A;
}
.theme-base-GJ .container a,
.theme-base-GJ .sidebar-toggle,
.theme-base-GJ .related-posts li a:hover {
  color: #49274A;
/*  color: #3c4c54; */
}

.posts a {
  text-decoration: underline;
}

.post a {
  text-decoration: underline;
}

.page a {
  text-decoration: underline;
}

ul li a {
 text-transform: capitalize; 
}

.sidebar-item {
  color: #FFCC00;
}

.highlight-text {
  background-color: #fff4cc;
}

.masthead-title small {
  color: #669966;
}